
@theme {
  --color-body-500: var(--body-bg);
  --color-primary-100: #00C4f8;
  --color-primary-500: #3F53DD;
  --color-primary-700: #2f3ea1;
  --color-black: #0A1628;
  --color-line: #E3E8EE;
  --color-white-100: #F9F9F9;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);

  --font-sans: 'Inter Variable', sans-serif;
  --text-s1: 14px;
  --text-s2: 15px;
  --text-s3: 20px;
  --text-s4: 32px;
  --leading-s1: 16px;
  --leading-s2: 20px;
  --leading-s3: 22px;
  --leading-s4: 24px;
  --leading-s5: 28px;
  --leading-s6: 40px;
}

@layer components {
  /* tp prefix for typography */
  .tp-title { @apply font-medium text-s3 leading-s5; }
	.tp-title-xl { @apply font-semibold text-s4 leading-s6; }
	.tp-title-sm { @apply font-semibold text-s3 leading-s6; }
	.tp-body { @apply font-normal text-s1 leading-s3; }
	.tp-body-bolder { @apply font-medium text-s1 leading-s3; }
	.tp-field-label { @apply font-medium text-s1 leading-s2; }
	.tp-field-select { @apply font-medium text-s2 leading-s3; }
	.tp-cta { @apply font-medium text-s2 leading-s4; }
	.tp-qrcode { @apply font-normal text-s1 leading-s1; }

  .focus-ring {
    @apply outline-0 ring-offset-2 focus:ring-2 ring-offset-background ring-primary-500/70;
  }

  .tooltip {
    opacity: 0;
    scale: 0;
    animation: slideinout 2s ease-out forwards;
  }

  @keyframes slideinout {
    0% {
      opacity: 0;
      scale: 1 0.75;
      translate: 0 -60%;
    }
    5% {
      opacity: 1;
      scale: 1 1;
      translate: 0 -100%;
    }
    95% {
      opacity: 1;
      scale: 1 1;
      translate: 0 -100%;
    }
    100% {
      opacity: 0;
      scale: 1 0.75;
      translate: 0 -60%;
    }
  }

  @media (prefers-color-scheme: dark) {
    .focus-ring {
      @apply ring-primary-100/70!;
    }
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --body-bg: #EBEDF3;
    --foreground: #0A1628;
    --gray: #556877;
    --input-bg: var(--background);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --body-bg: #1a222d;
      --foreground: #ededed;
      --gray: var(--foreground);
    }
  }

  body {
    @apply font-sans bg-body-500 sm:p-20 text-foreground antialiased;
  }
}



